.about {
    background-color: #E63946;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 10px solid black; /* Adiciona a borda preta apenas no bottom */
    position: relative;
    text-align: center;
}

.about .title {
    margin-bottom: 40px; 
    color: #fff;
}


/* Container das imagens e títulos */
.carousel-static {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; /* Ajusta a distância entre os itens */
    margin-bottom: 20px;
}

/* Ajuste para conectar os títulos e os pontinhos às imagens com 50px de distância */
.item {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; /* Remove espaçamento extra */
}

/* Estilizando os títulos */
.item h3 {
    font-size: 20px;
    color: #fff;
    font-family: "Press Start 2P";
    font-weight: bold;
    -webkit-text-stroke: 0.5px #000;
    text-shadow: 3px 3px 0 #000, 5px 5px 5px rgba(0, 0, 0, 0.5); 
    margin-bottom: 2px; 
    margin-top: 150px;
}

/* Linha pontilhada conectando o título à imagem */
.dot-line {
    width: 2px;
    height: 30px; /* Define a distância exata entre o título e a imagem */
    background: repeating-linear-gradient(
        to bottom,
        black 0px,
        black 2px,
        transparent 2px,
        transparent 4px
    );
    margin-bottom: 2px; /* Mantém um pequeno espaçamento antes da imagem */
}

/* Definir tamanho fixo para todas as imagens */
.item img {
    width: 200px; /* Define a mesma largura para todas */
    height: 130px; /* Define a mesma altura para todas */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorção */
    border: 3px solid black;
    margin-bottom: 50px;
}
