
.action {
    display: inline-flex;
    align-items: center;
    color: #FDFDFD;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action:not(.button):hover{
    color: #B02736;
}

.action:not(.button)::before {
    content: "";
    display: inline-block;
    background-color: #E63946;
    height: 10px;
    width: 10px;
    margin-right: 7px;
}
.action:not(.button):hover::before {
    background-color: #B02736;
}