.banner {
    display: block;
    background-image: url(../../assets/img/background-photo.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 800px;
    border-bottom: 10px solid #000;
    margin-bottom: 0; 
    padding-bottom: 0; 
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box {
    margin-top: 115px;
    margin-left: 90px;
}
