.nivel-stock .sun{
    position: absolute;
    left: 20px; 
    top: 20px; 
}

.nivel-stock .pineapple{
    position: absolute;
    left: 280px; 
    top: 180px; 
}

.nivel-stock .berry{
    position: absolute;
    left: 280px; 
    top: 380px; 
}

.nivel-stock .banana{
    position: absolute;
    left: 280px; 
    top: 380px; 
}